 @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Bricolage Grotesque', sans-serif;
  color: black;
  font-size: 16px;
}
.banner{
  background-image: url(../public/banner.png);
  background-position: 30% 50%;
  object-fit: cover;
}
.button{
  background-color: #F8DA5B;
}
.section {
  width: 100%;
  background-color: white;
  border-top: 0;
  padding: 36px;
  padding-bottom: 300px;
  position: relative;
}
.partial-circle {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.partial-circle:before {
  content: '';
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  top: 0;
}
.blue{
  background-color: #247291;
}
.blue-partial.partial-circle:before {
  background-color: #247291;
}
.white {
  background-color: white;
}
.yellow{
  background-color: #FFDD55;
}
.white-partial.partial-circle:before {
  background-color: white;
}
.yellow-partial.partial-circle:before {
  background-color: #FFDD55;
}
.mb-start{
  margin-block-start: -300px;
}